name: ci

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: |
          ./build-with-docker.sh
      - uses: actions/upload-artifact@v3
        with:
          name: wasm-package
          path: |
            ./*.wasm
            ./*.mjs
          retention-days: 7

  release:
    needs: build
    name: Create Release
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          path: artifacts
      - uses: softprops/action-gh-release@v1
        with:
          files: artifacts/*/*.*
